<!DOCTYPE html>
<html lang="en">
<head th:insert="fragments/header.html"></head>
<body>
<span th:insert="fragments/navigation.html"></span>


<main class="container">
    <div class="row">
        <h2>Editing <span id="titleDisplay" th:utext="${book.title}"></span></h2>
    </div>
    <div class="row">
        <div class="col-sm-10 mt-5">
            <form method="post"
                  th:object="${book}"
                  th:action="@{/book/save}">

                <input type="hidden"
                       class="ui-helper-hidden"
                       id="uuid"
                       th:field="*{uuid}"/>

                <input type="hidden"
                       class="ui-helper-hidden"
                       id="imageFile"
                       th:field="*{imageFile}"/>

                <div class="form-group row">
                    <label for="title" class="col-sm-4 col-form-label">Title</label>
                    <div class="col-sm-8">
                        <input type="text"
                               class="form-control"
                               id="title"
                               autocomplete="off"
                               placeholder="Title"
                               required
                               th:field="*{title}"/>
                        <span class="text-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="subTitle" class="col-sm-4 col-form-label">Sub Title</label>
                    <div class="col-sm-8">
                        <input type="text"
                               class="form-control"
                               id="subTitle"
                               autocomplete="off"
                               placeholder="Sub Title"
                               th:field="*{subTitle}"/>
                        <span th:if="${#fields.hasErrors('subTitle')}" th:errors="*{subTitle}"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="callNumber" class="col-sm-4 col-form-label">Call Number</label>
                    <div class="col-sm-8">
                        <input type="text"
                               class="form-control"
                               id="callNumber"
                               autocomplete="off"
                               placeholder="Call Number"
                               th:field="*{callNumber}"/>
                        <span th:if="${#fields.hasErrors('callNumber')}" th:errors="*{callNumber}"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="isbn" class="col-sm-4 col-form-label">ISBN</label>
                    <div class="col-sm-8">
                        <input type="text"
                               class="form-control"
                               id="isbn"
                               autocomplete="off"
                               placeholder="ISBN"
                               th:field="*{isbn}"/>
                        <span th:if="${#fields.hasErrors('isbn')}" th:errors="*{isbn}"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="publisher" class="col-sm-4 col-form-label">Publisher</label>
                    <div class="col-sm-8">
                        <input type="text"
                               class="form-control"
                               id="publisher"
                               autocomplete="off"
                               placeholder="Publisher"
                               th:field="*{publisher}"/>
                        <span th:if="${#fields.hasErrors('publisher')}" th:errors="*{publisher}"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="publishYear" class="col-sm-4 col-form-label">Publish Year</label>
                    <div class="col-sm-8">
                        <input type="text"
                               class="form-control"
                               id="publishYear"
                               autocomplete="off"
                               placeholder="Publish Year"
                               th:field="*{publishYear}"/>
                        <span th:if="${#fields.hasErrors('publishYear')}" th:errors="*{publishYear}"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Can Be Loaned?</label>
                    <div class="col-sm-8">
                        <div class="form-check">
                            <input class="form-check-input"
                                   type="radio"
                                   th:field="*{availableForRemovalInd}"
                                   th:value="Y"
                                   name="availableForRemovalIndY"
                                   id="availableForRemovalIndY">
                            <label class="form-check-label" for="availableForRemovalIndY">
                                Yes
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input"
                                   type="radio"
                                   th:field="*{availableForRemovalInd}"
                                   th:value="N"
                                   name="availableForRemovalIndN"
                                   id="availableForRemovalIndN">
                            <label class="form-check-label" for="availableForRemovalIndN">
                                No
                            </label>
                        </div>
                    </div>
                </div>

                <!-- Genre -->
                <div class="form-group row">
                    <label for="genre" class="col-sm-4 col-form-label">Genre</label>
                    <div class="col-sm-8">
                        <select class="form-control form-select selectpicker" th:field="*{genre}" id="genre">
                            <option th:each="genre: ${genres}"
                                    th:value="${genre.uuid}"
                                    th:text="${genre.genreName}">
                            </option>
                        </select>
                        <span class="text-danger" th:if="${#fields.hasErrors('genre')}" th:errors="*{genre}"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="synopsis" class="col-sm-4 col-form-label">Synopsis</label>
                    <div class="col-sm-8">
                        <textarea class="form-control"
                                  id="synopsis"
                                  name="synopsis"
                                  rows="10"
                                  cols="150"
                                  th:field="*{synopsis}">
                        </textarea>
                        <span th:if="${#fields.hasErrors('synopsis')}" th:errors="*{synopsis}"></span>
                    </div>
                </div>
                <!-- Authors -->
                <div class="form-group row">
                    <label for="genre" class="col-sm-4 col-form-label">Author(s)</label>
                    <div class="col-sm-8">
                        <select class="form-control form-select selectpicker" name="authors" id="authors" multiple>
                            <option th:each="author : ${authors}"
                                    th:value="${author.uuid}"
                                    th:text="${author.displayName}"
                                    th:selected="${bookAuthorUuids.contains(author.uuid)}">
                            </option>
                        </select>
                    </div>
                </div>
                <button class="btn btn-outline-primary" type="submit">Save</button>
            </form>
        </div>
    </div>
</main>

<script>
    $(document).ready(function () {
        $('#title').on('keyup', function (){
            $('#titleDisplay').text($('#title').val());
        });
    });
</script>

<footer th:insert="fragments/footer.html"></footer>
</body>
</html>
